<!--<app-card title="Images" expanded="true">-->
<div fxLayout='column'>
    <p-dataGrid [value]="vendor.photoUrlGallery">
        <ng-template let-image pTemplate="item" let-i='index'>
            <div class="image-box md-whiteframe-z2" (mouseenter)="showBar[i]=true" (mouseleave)="showBar[i]=false">
                <div *ngIf="checkArray[i]" class="triangle"></div>
                <img style='height: 100%; width: 100%; object-fit: cover' [src]='image' />
                <div *ngIf='showBar[i]' class="button-bars" fxLayout='row' fxLayoutAlign='center center'>
                    <p-checkbox #checkBox [(ngModel)]='checkArray[i]' binary="true" label="Set as Logo" (onChange)="setLogo(i,$event)"></p-checkbox>
                    <span fxFlex></span>
                    <i class='mdi mdi-delete' (click)='deleteImage(i)'></i>
                </div>
            </div>
        </ng-template>
    </p-dataGrid>
</div>
<div fxLayout="row " fxLayoutGap="2% " style="margin:12px;margin-top:12px ">
    <app-button title='Add Images' (click)='dialog=true'></app-button>
    <span fxFlex></span>
    <app-button title="Save " type="submit " (click)="updateDealerImage() "></app-button>
</div>
<!--</app-card>-->
<app-file-uploader [(showDialog)]='dialog' (uploadedURLs)='addImageToGallery($event)'></app-file-uploader>