<app-card title="Dealer Informations" expanded=true>
    <p-accordion [multiple]="true">
        <p-accordionTab header="Basic Information" [selected]="true" [disabled]="true">
            <div fxLayout="column">
                <div fxLayout="row">
                    <app-input-field-text label="Dealer Name" placeholder="Enter Dealer Name" [errorMessage]="errorMessage" [(model)]="vendor.name" (modelChange)="search($event)"></app-input-field-text>
                    <app-input-field-text label="Email" placeholder="Enter Email" errorMessage="Invalid Mail" [(model)]="vendor.email" [error]="valEmail()">
                    </app-input-field-text>
                    <app-input-field-multiple label="Email" [(model)]="vendor.emails" (onAdd)="addEmail($event)" (onRemove)="removeEmail($event)" [errorMessage]="errorEmailMessage" [error]="errorEmail"></app-input-field-multiple>
                    <app-input-field-text label="Contact Number" errorMessage="Invalid Number" [(model)]="vendor.phoneNumber" [error]="valNumber()"> </app-input-field-text>
                    <app-input-field-multiple label="Contact Number" [(model)]="vendor.phoneNumbers" (onAdd)="addPhoneNo($event)" (onRemove)="removePhoneNo($event)" [errorMessage]="errorPhoneNoMessage" [error]="errorPhoneNo"></app-input-field-multiple>

                </div>
                <app-input-field-text label="Description" placeholder="Enter Description" [(model)]="vendor.description">
                </app-input-field-text>
            </div>
        </p-accordionTab>

        <p-accordionTab header="Address Information">
            <div fxLayout="column">
                <div fxLayout="row">
                    <app-input-field-text label="Street" placeholder="Enter Street" [(model)]="vendor.address.street"></app-input-field-text>
                    <app-input-field-text label="City" placeholder="Enter City" [(model)]="vendor.address.city"></app-input-field-text>
                    <app-input-field-text label="State" placeholder="Enter State" [(model)]="vendor.address.state"></app-input-field-text>
                    <app-input-field-text label="Country" placeholder="Enter Country" [(model)]="vendor.address.county"></app-input-field-text>
                </div>
                <div fxLayout="row">
                    <app-input-field-text label="Country Code" placeholder="Enter Country Code" [(model)]="vendor.address.countrycode"></app-input-field-text>
                    <app-input-field-text label="Zip Code" placeholder="Enter Zip Code" [(model)]="vendor.address.postcode"></app-input-field-text>
                    <app-input-field-text label="Latitude" placeholder="Enter Latitude" [(model)]="vendor.address.geopoint.lat" (modelChange)="latChange($event)"></app-input-field-text>
                    <app-input-field-text label="Longitude" placeholder="Enter Longitude" [(model)]="vendor.address.geopoint.lon"></app-input-field-text>
                </div>
                <div fxLayout="row">
                    <app-input-field-autocomplete-address label="Search Address on Map" (pickedAddress)="getAutoPlaces($event)" style="width:50%"></app-input-field-autocomplete-address>
                </div>
                <div class="map-container" fxFlex>
                    <p-gmap #gmap id="gmap" [style]="{'width':'100%','height':'320px'}" *ngIf="options" [options]="options" [overlays]="overlays" (onOverlayDragEnd)="handleDragEnd($event,this)" (onMapReady)="setMap($event)"></p-gmap>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Social Links">
            <div fxLayout="column">
                <div fxLayout="row ">
                    <app-input-field-text label="Website" placeholder="Enter Website" [(model)]="vendor.mediaHandles.WEBSITE"></app-input-field-text>
                    <app-input-field-text label="Facebook" placeholder="Enter Facebook" [(model)]="vendor.mediaHandles.FACEBOOK"></app-input-field-text>
                    <app-input-field-text label="Twitter" placeholder="Enter Twitter " [(model)]="vendor.mediaHandles.TWITTER"></app-input-field-text>
                    <app-input-field-text label="Linked In" placeholder="Enter Linked In" [(model)]="vendor.mediaHandles.LINKEDIN"></app-input-field-text>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Sales & Service">
            <div fxLayout="row">
                <div fxLayout="column" class="input-group" style="width:30%">
                    <span class="input-label">Select Brand</span>
                    <p-multiSelect [options]="brands" [(ngModel)]="selectedbrand" [panelStyle]="{minWidth:'20em'}" (onChange)="selectBrand($event)"></p-multiSelect>
                </div>
                <!--<div fxLayout="row" class="input-group" style="width:50%">
                    <p-checkbox binary='true' [(ngModel)]='multibrands' (onChange)="onMultibrandschange($event)"></p-checkbox>
                    <span class="input-label">Multi Brand</span>
                </div>-->
                <div fxLayout="column" class="input-group" style="width:30%">
                    <span class="input-label">Service Offered by Dealer</span>
                    <p-chips [(ngModel)]="values" (onAdd)="addlistOfService(values)" (onRemove)="removelistOfService(values)"></p-chips>
                    <span>Press Enter to add service</span>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Vendor Type & Vendor Status">
            <div fxLayout="row">
                <div fxLayout="column" class="input-group" style="width:30%">
                    <span class="input-label">Select Vendor Type</span>
                    <p-dropdown [options]="vendortype" [(ngModel)]="vendor.vendortype" placeholder="Select Vendor Type" (onChange)="selectVendorType($event)"></p-dropdown>
                </div>
                <div fxLayout="column" class="input-group" style="width:30%">
                    <span class="input-label">Select Vendor Status</span>
                    <p-dropdown [options]="vendorstatus" [(ngModel)]="vendor.vendorStatus" placeholder="Select Vendor Status" (onChange)="selectVendorStatus($event)"></p-dropdown>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
    <p-accordion>
        <p-accordionTab header="Working Hours" [disabled]="!venderfound">
            <div class="input-group">
                <p-dataTable [value]="hours">
                    <p-column field="dayOfWeek" header="Day Of Week">
                        <ng-template let-col let-hour="rowData" pTemplate="body">
                            <span>{{hour.dayOfWeek}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="openingTime.startTime" header="Opening Time">
                        <ng-template let-time="rowData" let-ri="rowIndex" let-col pTemplate="body">
                            <p-calendar [(ngModel)]="time.openingTime.startTime" [timeOnly]="true" [disabled]="checkArray[ri]" hourFormat="12" (onSelect)="setStartTime(ri,$event)"></p-calendar>
                        </ng-template>
                    </p-column>
                    <p-column field="openingTime.endTime" header="Closing Time">
                        <ng-template let-time="rowData" let-ri="rowIndex" let-col pTemplate="body">
                            <p-calendar [(ngModel)]="time.openingTime.endTime" [timeOnly]="true" [disabled]="checkArray[ri]" hourFormat="12" (onSelect)="setEndTime(ri,$event)"></p-calendar>
                        </ng-template>
                    </p-column>
                    <p-column field="status" header="Close">
                        <ng-template let-row="rowData" let-ri="rowIndex" pTemplate="body">
                            <p-checkbox #checkBox binary='true' [(ngModel)]='checkArray[ri]' (onChange)="toggle(ri,$event)"></p-checkbox>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Image Upload" [disabled]="!venderfound">
            <div fxLayout='column'>
                <p-dataGrid [value]="vendor.photoUrlGallery">
                    <ng-template let-image pTemplate="item" let-i='index'>
                        <div class="image-box md-whiteframe-z2" (mouseenter)="showBar[i]=true" (mouseleave)="showBar[i]=false">
                            <div *ngIf="checkArrayImage[i]" class="triangle"></div>
                            <img style='height: 100%; width: 100%; object-fit: cover' [src]='image' />
                            <div *ngIf='showBar[i]' class="button-bars" fxLayout='row' fxLayoutAlign='center center'>
                                <p-checkbox #checkBox [(ngModel)]='checkArrayImage[i]' binary="true" label="Set as Logo" (onChange)="setLogo(i,$event)"></p-checkbox>
                                <span fxFlex></span>
                                <i class='mdi mdi-delete' (click)='deleteImage(i)'></i>
                            </div>
                        </div>
                    </ng-template>
                </p-dataGrid>
            </div>
            <div fxLayout="row " fxLayoutGap="2% " style="margin:12px;margin-top:12px ">
                <app-button title='Add Images' (click)='dialog=true'></app-button>
            </div>
            <div fxLayout="row " fxLayoutGap="2% " style="margin:12px;margin-top:12px ">
                    <app-input-field-text label="Image URL" placeholder="Enter Image URL" [(model)]="vendor.logoUrl"></app-input-field-text>
            </div>
        </p-accordionTab>
    </p-accordion>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" style="margin:12px;margin-top:12px">
        <app-button title="Save" [disabled]="!goForIgnition()" (click)="saveOrUpdate()"></app-button>
        <app-button (click)="resetSearch()" title="Reset"></app-button>
    </div>
</app-card>

<app-file-uploader [(showDialog)]='dialog' (uploadedURLs)='addImageToGallery($event)'></app-file-uploader>

<app-circular-progress [showDialog]="showDialog" message="Please Wait"></app-circular-progress>
<toaster-container></toaster-container>