<app-card title="Dealer Informations" expanded=true>
    <p-accordion [multiple]="true">
        <p-accordionTab header="Basic Information">
            <div fxLayout="column">
                <div fxLayout="row">
                    <app-input-field-text label="Dealer Name" placeholder="Enter Dealer Name" [(model)]="vendor.name" (modelChange)="search($event)"></app-input-field-text>
                    <app-input-field-text label="Email" placeholder="Enter Email" errorMessage="Invalid Email" [(model)]="vendor.email" [error]="valEmail()"></app-input-field-text>
                    <app-input-field-number label="Contact Number" placeholder="Enter Contact Number" [(model)]="vendor.phoneNumber">
                    </app-input-field-number>
                </div>
                <app-input-field-text label="Description" placeholder="Enter Description" [(model)]="vendor.description">
                </app-input-field-text>
            </div>
        </p-accordionTab>

        <p-accordionTab header="Address Information">
            <div fxLayout="column">
                <div fxLayout="row">
                    <app-input-field-text label="Street" placeholder="Enter Street" [(model)]="vendor.address.street"></app-input-field-text>
                    <app-input-field-text label="City" placeholder="Enter City" [(model)]="vendor.address.city"></app-input-field-text>
                    <app-input-field-text label="State" placeholder="Enter State" [(model)]="vendor.address.state"></app-input-field-text>
                    <app-input-field-text label="Country" placeholder="Enter Country" [(model)]="vendor.address.countrycode"></app-input-field-text>
                    <app-input-field-text label="Zip Code" placeholder="Enter Zip Code" [(model)]="vendor.address.postcode"></app-input-field-text>
                </div>
                <div fxLayout="column">
                    <app-input-field-text label="Search" placeholder="Search Address on Map" #addresssearch></app-input-field-text>
                    <div class="map-container" fxFlex>
                        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Social Links">
            <div fxLayout="column">
                <div fxLayout="row ">
                    <app-input-field-text label="Website" placeholder="Enter Website" [(model)]="vendor.mediaHandles.WEBSITE"></app-input-field-text>
                    <app-input-field-text label="Facebook" placeholder="Enter Facebook" [(model)]="vendor.mediaHandles.FACEBOOK"></app-input-field-text>
                    <app-input-field-text label="Twitter" placeholder="Enter Twitter " [(model)]="vendor.mediaHandles.TWITTER"></app-input-field-text>
                    <app-input-field-text label="Linked In" placeholder="Enter Linked In" [(model)]="vendor.mediaHandles.LINKEDIN"></app-input-field-text>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>

    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" style="margin:12px;margin-top:12px">
        <app-button title="Save" [disabled]="!goForIgnition()" (click)="saveOrUpdate()"></app-button>
    </div>
    <p-accordion>
        <p-accordionTab header="Working Hours">
            <app-working-hours></app-working-hours>
        </p-accordionTab>
        <p-accordionTab header="Image Upload">
            <app-image></app-image>
        </p-accordionTab>
        <p-accordionTab header="Sales & Service">
            <app-sales-service></app-sales-service>
        </p-accordionTab>
    </p-accordion>
</app-card>