<div fxLayout="column">
  <div fxLayout="row">
    <app-input-field-number label="Service Number" placeholder="Enter Service Number" errorMessage="Invalid Entry" [(model)]="serviceItem.serviceNumber"></app-input-field-number>
    <app-input-field-options label="Service Type" placeH="Choose Service type" [list]="serviceType" (selected)="serviceItem.serviceType = $event"></app-input-field-options>
  </div>
  <div fxLayout="row">
        <app-input-field-number label="Distance From (KM)" placeholder="Enter Service Distance" [(model)]="serviceItem.distanceFrom"></app-input-field-number>

    <app-input-field-number label="Distance To (KM)" placeholder="Enter Service Distance" [(model)]="serviceItem.distanceTo"></app-input-field-number>
    <app-input-field-number label="Duration (Days)" placeholder="Enter Service Duration" [(model)]="serviceItem.days"></app-input-field-number>
  </div>
  <app-input-field-multiple label="Jobs" placeholder="Enter Jobs undertaken in the service" [(model)]="serviceItem.jobs"></app-input-field-multiple>
  <app-input-field-auto-complete label="Parts" (search)="getParts($event)" shouldQuery="true" [completeArray]="parts" filterProperty="partName"  (selected)="addPart($event)"></app-input-field-auto-complete>
  <div>
    <app-button class="input-group" [disabled]="false" title="Add" (click)="onAdd()"></app-button>
  </div>
</div>
