
<app-card title="All Trends" expanded="true">

  <div fxLayoutAlign="end">
    <i class="fa fa-print" title="Print Report"></i>
  </div>
        <app-circular-progress [showDialog]="loadingRequest" message="Please Wait"></app-circular-progress>

  <p-accordion>
    <p-accordionTab [header]="test[0].name" *ngFor="let test of areaData">
      <p-table [value]="test[0].series" *ngIf="test[0].name != 'HEMOGLOBIN' && test[0].name != 'TEMPERATURE' && test[0].name != 'WEIGHT'">
        <ng-template pTemplate="header">
          <tr>
            <th style="font-size: 20px;">Date & Time</th>
            <th style="font-size: 20px;">Result</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr>
            <td style="font-size: 18px;" >{{car.name}}</td>
            <td>
              <div class="resultDisplay" *ngFor="let res of car.value"> {{res.name}} -  <strong style="margin: 0 0 0 10px;">{{ res.value}}</strong>  </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

            <div style="height:400px;" *ngIf="test[0].name == 'HEMOGLOBIN' || test[0].name == 'TEMPERATURE' || test[0].name == 'WEIGHT'">
<ngx-charts-area-chart [scheme]="colorScheme" [results]="test" [gradient]="gradient" [xAxis]="showXAxis"
  [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [animations]="true"
  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="selectData($event)">
</ngx-charts-area-chart>
</div>

    </p-accordionTab>
  </p-accordion>


  <div fxLayoutAlign="end">
    <i class="fa fa-print" title="Print Report"></i>
  </div>
</app-card>