<app-card title="Search Vehicle" [showExpansion]="true" expanded=true>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
            <app-input-field-text label="Dealer Name" placeholder="Enter Dealer Name" [(model)]="search.name"></app-input-field-text>
            <app-input-field-options label="Country" placeH="Select Country" [reset]="reset" [list]="countries" (selected)="search.country = $event"></app-input-field-options>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2%" style="margin:12px">
            <app-button (click)="resetSearch()" title="Reset"></app-button>
            <app-button [disabled]="!goForSearch()" (click)="searchDealer()" title="Search"></app-button>
        </div>
    </div>
</app-card>
<!--<app-vehicle-list [vehicles]="[]"></app-vehicle-list>-->
<app-card title="Dealer List" expanded=true>
    <p-dataTable [value]="dealerList" scrollable="true" scrollHeight="scrollH" [rows]="15" [paginator]="true" [pageLinks]="3" [loading]="loadingVehicles" selectionMode="single" (onRowSelect)="vehicleSelected($event)">
        <p-column field="name" header="Dealer Name" [sortable]="true"></p-column>
        <p-column field="phoneNumber" header="Phone Number"></p-column>
        <p-column field="listOfBrands" header="Brand"></p-column>
        <p-column header="Action">
            <ng-template let-col let-log="rowData" pTemplate="body">
                <span style="cursor:pointer;margin-left: 25px" fxLayout="row" fxLayoutAlign="start" (click)="dealerEdit(log)">
               <i class="material-icons">content_copy</i>
            </span>
            </ng-template>
        </p-column>
    </p-dataTable>
</app-card>
<app-circular-progress [showDialog]="showDialog" message="Please Wait"></app-circular-progress>