<!--<app-card title="Search Make & Model" expanded="true">
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
            <app-input-field-text fxFlex label="Make" placeholder="Enter Vehicle Make" [(model)]="search.make"></app-input-field-text>
            <app-input-field-text fxFlex label="Model" placeholder="Enter Vehicle Model" [(model)]="search.model">
            </app-input-field-text>
            <app-input-field-text fxFlex label="Variant" placeholder="Enter Vehicle Variant" [(model)]="search.variant">
            </app-input-field-text>
            <app-input-field-options fxFlex label="Country" placeH="Select Country" [reset]="reset" [list]="countries" (selected)="search.country = $event">
            </app-input-field-options>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2%" style="margin:12px">
            <app-button (click)="resetSearch()" title="Reset"></app-button>
            <app-button [disabled]="!goForSearch()" (click)="searchVehicle()" title="Search"></app-button>
        </div>
        <p-dataTable [value]="vehicles" scrollable="true" scrollHeight="scrollH" [rows]="15" [paginator]="true" [pageLinks]="3" [loading]="loadingVehicles" selectionMode="single" (onRowSelect)="vehicleSelected($event)">
            <p-column field="make" header="Make" [sortable]="true"></p-column>
            <p-column field="model" header="Model" [sortable]="true"></p-column>
            <p-column field="variant" header="Variant"></p-column>
            <p-column field="countryCode" header="Country">
                <ng-template let-col let-log="rowData" pTemplate="body">
                    <div>{{getCountry(log[col.field])}}</div>
                </ng-template>
            </p-column>
            <p-column field="updateTime" header="Updated Time">
                <ng-template let-col let-log="rowData" pTemplate="body">
                    <div>{{log[col.field] | date:'jms'}} {{log[col.field] | date:'yMMMd'}}</div>
                </ng-template>
            </p-column>
            <p-column header='Sales'>
                <ng-template let-col let-log="rowData" pTemplate="body">

                </ng-template>
            </p-column>
            <p-column header='Service'>
                <ng-template let-col let-log="rowData" pTemplate="body">

                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</app-card>

<app-card title="Vechicle List" expanded=true *ngIf='vehicles.length'>
    <p-dataTable [value]="vehicles" scrollable="true" scrollHeight="scrollH" [rows]="15" [paginator]="true" [pageLinks]="3" [loading]="loadingVehicles" selectionMode="single" (onRowSelect)="vehicleSelected($event)">
        <p-column field="make" header="Make" [sortable]="true"></p-column>
        <p-column field="model" header="Model" [sortable]="true"></p-column>
        <p-column field="variant" header="Variant"></p-column>
        <p-column field="countryCode" header="Country">
            <ng-template let-col let-log="rowData" pTemplate="body">
                <div>{{getCountry(log[col.field])}}</div>
            </ng-template>
        </p-column>
        <p-column field="price.exShowroomPrice" header="Price"></p-column>
        <p-column field="updateTime" header="Updated Time">
            <ng-template let-col let-log="rowData" pTemplate="body">
                <div>{{log[col.field] | date:'jms'}} {{log[col.field] | date:'yMMMd'}}</div>
            </ng-template>
        </p-column>
        <p-column header='Sales'>
            <ng-template let-col let-log="rowData" pTemplate="body">
                <span style="cursor:pointer" fxLayout="row" fxLayoutAlign="start center" (click)="vehicleDeleted(log)">
            <i class="material-icons">delete</i>
            </span>
            </ng-template>
        </p-column>
        <p-column header='Service'>
            <ng-template let-col let-log="rowData" pTemplate="body">
                <span style="cursor:pointer" fxLayout="row" fxLayoutAlign="start center" (click)="vehicleDeleted(log)">
            <i class="material-icons">delete</i>
            </span>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'38px'}">
            <ng-template let-col let-log="rowData" pTemplate="body">
                <span style="cursor:pointer" fxLayout="row" fxLayoutAlign="start center" (click)="vehicleDeleted(log)">
            <i class="material-icons">delete</i>
            </span>
            </ng-template>
        </p-column>
    </p-dataTable>
</app-card>-->

<div fxLayout="row">
    <p-multiSelect [options]="cities" [(ngModel)]="selectedCities"></p-multiSelect>
</div>