<app-card title="Vechicle List" expanded=true>
  <p-dataTable [value]="vehicles" scrollable="true" scrollHeight="scrollH" [rows]="5" [paginator]="true" [pageLinks]="3" [loading]="loadingVehicles"
    selectionMode="single" (onRowSelect)="vehicleSelected($event)">
    <p-column field="make" header="Make" [sortable]="true"></p-column>
    <p-column field="model" header="Model" [sortable]="true"></p-column>
    <p-column field="variant" header="Variant"></p-column>
    <p-column field="countryCode" header="Country">
      <ng-template let-col let-log="rowData" pTemplate="body">
        <div>{{getCountry(log[col.field])}}</div>
      </ng-template>
    </p-column>

    <p-column styleClass="col-button">

      <ng-template let-vehicle="rowData" pTemplate="body">
        <button type="button"></button>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'38px'}">
      <ng-template let-col let-log="rowData" pTemplate="body">
        <span style="cursor:pointer" fxLayout="row" fxLayoutAlign="start center" (click)="vehicleDeleted(log)">
<i class="material-icons">delete</i>
</span>
</ng-template>
</p-column>
<ng-template let-car pTemplate="rowexpansion">
  <div fxLayout="row">
    this is the expanded row with data
  </div>
</ng-template>
</p-dataTable>
</app-card>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%" style="margin:12px">

</div>
<toaster-container></toaster-container>