<h3 class="first">Features</h3>
<div class="ui-g" style="width:250px;margin-bottom:10px" >
    <div class="ui-g-12" *ngFor = "let f of feature"><p-checkbox name="group1" (onChange)= "selected($event)" (ngModelChange)="modelChange" [value]="f.name" [label]="f.name" [(ngModel)]="selectedFeatures" inputId="feature"></p-checkbox></div>
</div>

Selected Features: <span *ngFor="let feat of selectedFeatures" style="margin-right:10px">{{feat}}</span>

<h3>Brands</h3>
<div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-12" *ngFor = "let b of brand"><p-checkbox name="group2" (onChange)= "selected($event)" (ngModelChange)="modelChange" [value]="b.name" [label]="b.name" [(ngModel)]="selectedBrands" inputId="brand"></p-checkbox></div>
    Selected Brands: <span *ngFor="let cat of selectedBrands" style="margin-right:10px">{{cat}} </span>

  </div>
