<div class="sidebar" fxLayout="column">
  <div class="app-header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5%">
    <img class="logo" src="assets/logo.png" />
    <span class="app-name"><a href="https://www.carbookplus.com" id="cbfm-goto-carbookplus.com" target="_blank">CarbookPlus</a></span>
  </div>
  <a *ngFor="let menuItem of menu;  let i = index" [attr.id]="'cbfm-sidenav-menu-' + i" [routerLink]="menuItem.path" [queryParams]="menuItem.query"
    routerLinkActive="active" [class.disabled]="!menuItem.active" class="item">
    <div fxLayout="row" fxLayoutAlign="start center" fxFill>
      <i class="material-icons">{{menuItem.icon}}</i>
      <span>{{menuItem.name}}</span>
    </div>
  </a>
  <span fxFlex></span>
  <span class="footer">Copyright © 2017 <a href="https://www.carbookplus.com"  id="cbfm-goto-carbookplus.com" target="_blank">CarbookPlus <span class="version">(v{{version}})</span></a>
  </span>
</div>
