<div class="home" fxLayout="row">
  <!--<div fxFLex fxLayout="column">
    <app-vehicle-create (showDialog)="sD($event)" (refresh)="refresh()"></app-vehicle-create>
    <app-vehicle-list [showAdd]="true" [vehicles]="vehicles" [loadingVehicles]="loadingVehicles" (onVehicleSelected)="vehicleSelected($event)"
      (onVehicleDeleted)="deleteFromFleet($event)" (onAddNew)="showAdd=true" [isFleet]="isFleet"></app-vehicle-list>
    <div fxLayout="row" *ngIf="selectedVehicle">
      <app-vehicle-detail fxFlex [vehicle]="selectedVehicle" [showDetail]="selectedVehicle"></app-vehicle-detail>
    </div>
  </div>-->
  <div fxFlexFill>
    <router-outlet></router-outlet>
  </div>
</div>
