.header {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.ui-accordion .ui-accordion-header a {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
}

.ui-widget-header .ui-state-active a,
.ui-widget-content .ui-state-active a,
.ui-state-active a {
    &:hover {
        background: #f1f1f1;
    }
}

.ui-accordion .ui-accordion-header {
    background: white;
}

.ui-accordion-header.ui-state-default {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.ui-accordion-header.ui-state-default.ui-corner-all {
    border-radius: 0;
}

p-accordiontab {
    &:first-child {
        .ui-accordion.ui-accordion-header {
            border-top: none;
        }
    }
}

span.ui-autocomplete.ui-widget {
    width: 100%;
}

span.ui-calendar {
    width: 100%;
}

.ui-autocomplete-panel {
    position: static;
}

.add-more-container {
    width: 20%;
    padding: 12px;
    &:hover {
        cursor: pointer;
        background: #f1f1f1;
        color: rgba(0, 0, 0, 0.8);
    }
}

app-input-field-text,
app-input-field-boolean,
app-input-field-multiple,
app-input-field-number,
app-input-field-options {
    width: 25%;
}