<div fxLayout="column">
  <app-input-field-text label="Part Name" placeholder="Enter Vehicle Make" [(model)]="partItem.partName"></app-input-field-text>
  <div fxLayout="row">
    <app-input-field-number label="Quantity" placeholder="Enter Single Unit" [(model)]="partItem.quantity"></app-input-field-number>
    <app-input-field-number label="Price" placeholder="Enter Cost for Unit" [(model)]="partItem.partPrice.price"></app-input-field-number>
  </div>
  <app-input-field-number label="Labour Cost" placeholder="Enter Cost for Labour Work" [(model)]="partItem.partPrice.labourcharges"></app-input-field-number>
  <div fxLayout="row">
    <app-input-field-number label="Validity (in Years)" placeholder="Enter Validity" [(model)]="partItem.validity.validityInYears"></app-input-field-number>
    <app-input-field-number label="Validity (in Kms)" placeholder="Enter Validity" [(model)]="partItem.validity.validityInKms"></app-input-field-number>
  </div>
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2%" style="margin:12px">
    <app-button class="input-group" [disabled]="false" title="Add" (click)="onAdd()"></app-button>
  </div>
</div>
