<app-card title="Search Vehicle" [showExpansion]="true" expanded=true>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center">
        <app-input-field-text label="Make" placeholder="Enter Vehicle Make"  [(model)]="search.make"></app-input-field-text>
        <app-input-field-text label="Model" placeholder="Enter Vehicle Model"  [(model)]="search.model"></app-input-field-text>
        <app-input-field-text label="Variant" placeholder="Enter Vehicle Variant" [(model)]="search.variant"></app-input-field-text>
        <app-input-field-options label="Country" placeH="Select Country" [reset]="reset" [list]="countries" (selected)="search.country = $event"></app-input-field-options>
      </div>
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="2%" style="margin:12px">
        <app-button (click)="resetSearch()" title="Reset"></app-button>
        <app-button [disabled]="!goForSearch()"  (click)="searchVehicle()"   title="Search"></app-button>
      </div>
    </div>
</app-card>
<app-clone-vehicle [vehicles]="[]"></app-clone-vehicle>
<app-circular-progress [showDialog]="showDialog" message="Please Wait"></app-circular-progress>
<toaster-container></toaster-container>
